@font-face {
  font-family: 'iconfont';
  src:  url('fonts/iconfont.eot?gzmkaa');
  src:  url('fonts/iconfont.eot?gzmkaa#iefix') format('embedded-opentype'),
    url('fonts/iconfont.ttf?gzmkaa') format('truetype'),
    url('fonts/iconfont.woff?gzmkaa') format('woff'),
    url('fonts/iconfont.svg?gzmkaa#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keep-right:before {
  content: "\e9df";
  color: #666;
}
.icon-keep-left:before {
  content: "\e9e0";
  color: #666;
}
.icon-accredit:before {
  content: "\e9de";
}
.icon-datas:before {
  content: "\e9dc";
}
.icon-user:before {
  content: "\e9dd";
}
.icon-label:before {
  content: "\e900";
}
.icon-Radio:before {
  content: "\e901";
}
.icon-sending:before {
  content: "\e902";
}
.icon-share-1:before {
  content: "\e903";
}
.icon-error:before {
  content: "\e904";
}
.icon-container:before {
  content: "\e905";
}
.icon-copy-1:before {
  content: "\e906";
}
.icon-error-2:before {
  content: "\e907";
}
.icon-cover:before {
  content: "\e908";
}
.icon-correct:before {
  content: "\e909";
}
.icon-display:before {
  content: "\e90a";
}
.icon-wenjianjia233:before {
  content: "\e90b";
}
.icon-form:before {
  content: "\e90c";
}
.icon-multiple_select:before {
  content: "\e90d";
}
.icon-datepicker:before {
  content: "\e90e";
}
.icon-checkbox:before {
  content: "\e90f";
}
.icon-radio:before {
  content: "\e910";
}
.icon-select:before {
  content: "\e911";
}
.icon-filter:before {
  content: "\e912";
}
.icon-input:before {
  content: "\e913";
}
.icon-arrow_down:before {
  content: "\e914";
}
.icon-component:before {
  content: "\e915";
}
.icon-help:before {
  content: "\e916";
}
.icon-layer:before {
  content: "\e917";
}
.icon-setting:before {
  content: "\e918";
}
.icon-add:before {
  content: "\e919";
}
.icon-preview:before {
  content: "\e91a";
}
.icon-delete:before {
  content: "\e91b";
}
.icon-export:before {
  content: "\e91c";
}
.icon-import:before {
  content: "\e91d";
}
.icon-save:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e91f";
}
.icon-redo:before {
  content: "\e920";
}
.icon-undo:before {
  content: "\e921";
}
.icon-kaisuo:before {
  content: "\e922";
}
.icon-chuizhifanzhuan:before {
  content: "\e923";
}
.icon-shuipingfanzhuan:before {
  content: "\e924";
}
.icon-refresh:before {
  content: "\e925";
}
.icon-AirPlay:before {
  content: "\e926";
}
.icon-chart:before {
  content: "\e927";
}
.icon-other:before {
  content: "\e928";
}
.icon-3d:before {
  content: "\e929";
}
.icon-model:before {
  content: "\e92a";
}
.icon-decoration:before {
  content: "\e92b";
}
.icon-media:before {
  content: "\e92c";
}
.icon-control:before {
  content: "\e92d";
}
.icon-table:before {
  content: "\e92e";
}
.icon-map:before {
  content: "\e92f";
}
.icon-text:before {
  content: "\e930";
}
.icon-edit:before {
  content: "\e931";
}
.icon-clock:before {
  content: "\e932";
}
.icon-barchart:before {
  content: "\e933";
}
.icon-piechart:before {
  content: "\e934";
}
.icon-barlinechart:before {
  content: "\e935";
}
.icon-linechart:before {
  content: "\e936";
}
.icon-funnel:before {
  content: "\e937";
}
.icon-radar:before {
  content: "\e938";
}
.icon-scatter:before {
  content: "\e939";
}
.icon-quota:before {
  content: "\e93a";
}
.icon-heat:before {
  content: "\e93b";
}
.icon-arrow_right:before {
  content: "\e93c";
}
.icon-line_map:before {
  content: "\e93d";
}
.icon-sankey:before {
  content: "\e93e";
}
.icon-pivot_table:before {
  content: "\e93f";
}
.icon-ranking:before {
  content: "\e940";
}
.icon-login:before {
  content: "\e941";
}
.icon-tab:before {
  content: "\e942";
}
.icon-button:before {
  content: "\e943";
}
.icon-iframe:before {
  content: "\e944";
}
.icon-illustration:before {
  content: "\e945";
}
.icon-strip:before {
  content: "\e946";
}
.icon-background:before {
  content: "\e947";
}
.icon-border:before {
  content: "\e948";
}
.icon-decorate:before {
  content: "\e949";
}
.icon-icon:before {
  content: "\e94a";
}
.icon-countdown:before {
  content: "\e94b";
}
.icon-flipper:before {
  content: "\e94c";
}
.icon-word_cloud:before {
  content: "\e94d";
}
.icon-time:before {
  content: "\e94e";
}
.icon-images:before {
  content: "\e94f";
}
.icon-swiper:before {
  content: "\e950";
}
.icon-image:before {
  content: "\e951";
}
.icon-live:before {
  content: "\e952";
}
.icon-audio:before {
  content: "\e953";
}
.icon-video:before {
  content: "\e954";
}
.icon-point_map:before {
  content: "\e955";
}
.icon-graph:before {
  content: "\e956";
}
.icon-all:before {
  content: "\e957";
}
.icon-more:before {
  content: "\e958";
}
.icon-sort:before {
  content: "\e959";
}
.icon-project_edit:before {
  content: "\e95a";
}
.icon-plus:before {
  content: "\e95b";
}
.icon-input_number_arrow:before {
  content: "\e95c";
}
.icon-graphical:before {
  content: "\e95d";
}
.icon-weather:before {
  content: "\e95e";
}
.icon-more1:before {
  content: "\e95f";
}
.icon-edit1:before {
  content: "\e960";
}
.icon-wenjianjiaguan:before {
  content: "\e961";
}
.icon-uniE957:before {
  content: "\e962";
}
.icon-xiazai:before {
  content: "\e963";
}
.icon-danyuankong:before {
  content: "\e964";
}
.icon-suiji2:before {
  content: "\e965";
}
.icon-m2343:before {
  content: "\e966";
}
.icon-shuxuanzhuan:before {
  content: "\e967";
}
.icon-er3452:before {
  content: "\e968";
}
.icon-fuzhiwenben:before {
  content: "\e969";
}
.icon-shuaxin:before {
  content: "\e96a";
}
.icon-tiaojian:before {
  content: "\e96b";
}
.icon-jianhaoyuan:before {
  content: "\e96c";
}
.icon-daima:before {
  content: "\e96d";
}
.icon-moban:before {
  content: "\e96e";
}
.icon-danxuan:before {
  content: "\e96f";
}
.icon-shehzi:before {
  content: "\e970";
}
.icon-hexuanzhuan:before {
  content: "\e971";
}
.icon-gouxuan:before {
  content: "\e972";
}
.icon-zuoxiahudu:before {
  content: "\e973";
}
.icon-youce:before {
  content: "\e974";
}
.icon-zhiding:before {
  content: "\e975";
}
.icon-shangxia:before {
  content: "\e976";
}
.icon-fuzhi:before {
  content: "\e977";
}
.icon-zhidi:before {
  content: "\e978";
}
.icon-suoguan:before {
  content: "\e979";
}
.icon-shangceng:before {
  content: "\e97a";
}
.icon-hudu:before {
  content: "\e97b";
}
.icon-youxiahudu:before {
  content: "\e97c";
}
.icon-zuoshanghudu:before {
  content: "\e97d";
}
.icon-dingwei:before {
  content: "\e97e";
}
.icon-xiaceng:before {
  content: "\e97f";
}
.icon-tupian:before {
  content: "\e980";
}
.icon-shanchuan:before {
  content: "\e981";
}
.icon-jianhao:before {
  content: "\e982";
}
.icon-tuichu:before {
  content: "\e983";
}
.icon-xie:before {
  content: "\e984";
}
.icon-xiaoguanbi:before {
  content: "\e985";
}
.icon-dianhua:before {
  content: "\e986";
}
.icon-renxiang:before {
  content: "\e987";
}
.icon-wujiaoxingxian:before {
  content: "\e988";
}
.icon-yaoshikong:before {
  content: "\e989";
}
.icon-kaiguanlan:before {
  content: "\e98a";
}
.icon-shangchuan:before {
  content: "\e98b";
}
.icon-jiahaoyuan:before {
  content: "\e98c";
}
.icon-keshihua:before {
  content: "\e98d";
}
.icon-ditu3:before {
  content: "\e98e";
}
.icon-secai:before {
  content: "\e98f";
}
.icon-fangda:before {
  content: "\e990";
}
.icon-you:before {
  content: "\e991";
}
.icon-guanbi001:before {
  content: "\e992";
}
.icon-uniE988:before {
  content: "\e993";
}
.icon-zuo:before {
  content: "\e994";
}
.icon-guoji:before {
  content: "\e995";
}
.icon-suoxiao:before {
  content: "\e996";
}
.icon-jiaodu:before {
  content: "\e997";
}
.icon-tishi:before {
  content: "\e998";
}
.icon-quanbu:before {
  content: "\e999";
}
.icon-suofang:before {
  content: "\e99a";
}
.icon-quanping:before {
  content: "\e99b";
}
.icon-paixu:before {
  content: "\e99c";
}
.icon-gouxuan3:before {
  content: "\e99d";
}
.icon-guanbi3:before {
  content: "\e99e";
}
.icon-zhuanhuan:before {
  content: "\e99f";
}
.icon-jindu:before {
  content: "\e9a0";
}
.icon-shucengji:before {
  content: "\e9a1";
}
.icon-biaoqian:before {
  content: "\e9a2";
}
.icon-tanchuang:before {
  content: "\e9a3";
}
.icon-zhuzhou:before {
  content: "\e9a4";
}
.icon-guanxi:before {
  content: "\e9a5";
}
.icon-jindu2:before {
  content: "\e9a6";
}
.icon-shurukuang:before {
  content: "\e9a7";
}
.icon-shujuyuan:before {
  content: "\e9a8";
}
.icon-libiao3:before {
  content: "\e9a9";
}
.icon-dengrizhi:before {
  content: "\e9aa";
}
.icon-shujuku:before {
  content: "\e9ab";
}
.icon-uniE9A1:before {
  content: "\e9ac";
}
.icon-right-arrow2:before {
  content: "\e9ad";
}
.icon-video1:before {
  content: "\e9ae";
}
.icon-distance:before {
  content: "\e9af";
}
.icon-schedule:before {
  content: "\e9b0";
}
.icon-live-broadcast:before {
  content: "\e9b1";
}
.icon-map7:before {
  content: "\e9b2";
}
.icon-the-Earth:before {
  content: "\e9b3";
}
.icon-branch:before {
  content: "\e9b4";
}
.icon-share8:before {
  content: "\e9b5";
}
.icon-drag:before {
  content: "\e9b6";
}
.icon-move:before {
  content: "\e9b7";
}
.icon-amplify1:before {
  content: "\e9b8";
}
.icon-ranging:before {
  content: "\e9b9";
}
.icon-positioning:before {
  content: "\e9ba";
}
.icon-reduce4:before {
  content: "\e9bb";
}
.icon-switch5:before {
  content: "\e9bc";
}
.icon-hide:before {
  content: "\e9bd";
}
.icon-polygon:before {
  content: "\e9be";
}
.icon-rectangle:before {
  content: "\e9bf";
}
.icon-circular:before {
  content: "\e9c0";
}
.icon-triangle:before {
  content: "\e9c1";
}
.icon-star:before {
  content: "\e9c2";
}
.icon-hexagon:before {
  content: "\e9c3";
}
.icon-diamond:before {
  content: "\e9c4";
}
.icon-Square-lock:before {
  content: "\e9c5";
}
.icon-Circular-lock:before {
  content: "\e9c6";
}
.icon-trapezoid:before {
  content: "\e9c7";
}
.icon-menu:before {
  content: "\e9c8";
}
.icon-modify:before {
  content: "\e9c9";
}
.icon-modify-1:before {
  content: "\e9ca";
}
.icon-metadata:before {
  content: "\e9cb";
}
.icon-sort-1:before {
  content: "\e9cc";
}
.icon-limits-of-authority:before {
  content: "\e9cd";
}
.icon-make:before {
  content: "\e9ce";
}
.icon-video-file:before {
  content: "\e9cf";
}
.icon-Upload:before {
  content: "\e9d0";
}
.icon-spatial-data:before {
  content: "\e9d1";
}
.icon-PDF:before {
  content: "\e9d2";
}
.icon-picture:before {
  content: "\e9d3";
}
.icon-modify-2:before {
  content: "\e9d4";
}
.icon-move-1:before {
  content: "\e9d5";
}
.icon-AMAP:before {
  content: "\e9d6";
}
.icon-themeriverr:before {
  content: "\e9d7";
}
.icon-waterPolo:before {
  content: "\e9d8";
}
.icon-threeGraph:before {
  content: "\e9d9";
}
.icon-collapse:before {
  content: "\e9da";
}
.icon-expend:before {
  content: "\e9db";
}
